<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="/static/images/favicon.ico">
   <link rel="stylesheet" href="/static/css/index.css">
   <title>Can you Survive</title>
</head>

<body>
   <div class="container">
      <div class="text-col">
         <h1 class="heading">Survive<br>The Iceberg Crash</h1>
         <div class="paragraph">
            <p>The sinking of the Titanic is one of the most infamous shipwrecks in history.</p>

            <p>On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after
            colliding with an iceberg. Unfortunately, there weren't enough lifeboats for everyone onboard, resulting in
            the death of 1502 out of 2224 passengers and crew.</p>

            <p>While there was some element of luck involved in surviving, it seems some groups of people were more likely
            to survive than others.</p>
         </div>
         <div class="get-started"><a href="{{url_for('form')}}" class="get-started-link">Get Started</a></div>
      </div>
      <div class="img-col"></div>
      <div class="disclaimer">* Real photo of </div>
   </div>


</body>

</html>